
Hookshot/.vs/Hookshot/v16/.suo
Hookshot/.vs/Hookshot/v16/Browse.VC.db
Hookshot/.vs/Hookshot/v16/ipch/AutoPCH/747b9b80d2b9be09/MAIN.ipch
Hookshot\bin\Debug-x64
*.ipch
*.pdb
*.ilk
*.pdb
*.log
*.tlog
*.pdb
*.idb
*.obj
*.exe
